body{
	/*background-color: yellow;*/

}
.cajaLinea{
	width: 100%;
	/*border-style: solid;*/
	height:50;
	float:left;
	/*clear;*/
}
.lineaI{
		/*position:absolute;*/
		/*display:inline;*/
		float:left;
		width:10%;
		height:50;
		/*border-style: solid;*/
		border-color: green;

		/*background-color: red;*/
}
.lineaC{
		/*display:inline;*/
		/*position:absolute;*/
		float:left;
		width:68%;
		height:50;
		/*border-style: solid;*/
		border-color: blue;
}
.lineaR{
		/*position:absolute;*/
		/*display:inline;*/
		float:right;
		width:20%;
		height:50;
		/*border-style: solid;*/
		border-color: red;
		/*background-color: green;*/
}
