/*body{
		background-color: yellow;

}*/
/*img{
	width:40;
}*/
.cajaLinea{
	width: 60%;
	border-style: solid;
	/*height:50;*/
	/*float:left;*/
	
}
.lineaI{
		width:10%;
		display:inline;
		/*float:left;*/
		/*position:absolute;*/
		/*height:50;*/
		/*border-style: solid;*/
		/*border-color: green;

		/*background-color: red;*/
}

.lineaC{
		width:68%;
		display:inline;
		/*float:left;*/
		/*position:absolute;*/
		/*height:50;*/
		/*border-style: solid;*/
		/*border-color: blue;*/
}
.lineaR{
		width:20%;
		display:inline;
		/*float:right;*/
		/*position:absolute;*/
		/*height:50;*/
		/*border-style: solid;*/
		/*border-color: red;*/
		/*background-color: green;*/
}
.imagenFlotante{
	/*float:right;*/
	height:100;
	width:100;
}
.imagenNormal{
	height:40;
	width:40;	
}
